.bot-links {
  text-align: center;
  list-style: none;
  display: block;
  padding: 0;
  margin: auto;
  padding-bottom: 4em;
  font-family: $FontConsole;
  li {
    display: inline-block;
    &:last-child a {
      border-right: transparent solid 1px;
    }
  }
  a {
    color: $white;
    padding: 0 15px;
    border-right: $red solid 1px;
    text-decoration: none;
    transition: 0.5s all;
    &:hover {
      color: $red;
    }
  }
}
