$header-callout-brkpt: $medium;

.header-callout {
  margin: 1em auto;
  @include breakpoint($header-callout-brkpt) {
    margin: 2em auto;
  }
  .quote {
    width: 100%;
    background: $black;
    border: 2px solid $green;
    padding: 0.5em;
    position: relative;
    @include breakpoint($header-callout-brkpt) {
      width: 80%;
    }
  }
  h3 {
    font-family: $FontRachel;
    font-size: 1.4em;
    font-weight: normal;
    padding: 0.4em 0.3em;
    margin: 0;
    line-height: 1.3em;
    letter-spacing: 0.1em;
    text-align: center;
    @include breakpoint($header-callout-brkpt) {
      font-size: 1.8em;
      padding: 0.4em 1em;
      text-align: left;
    }
  }
  .cat {
    max-width: 32%;
    left: 100%;
    top: -32%;
    position: absolute;
    display: none;
    @include breakpoint($header-callout-brkpt) {
      display: block;
    }
  }
}
