// $header-breakpoint:

.header {
  background: $g_white;
  // spacing on bottom for search navitem shown as default
  margin-bottom: 82px;
}

.header-top {
  @include display-flex;
  .logo {
    width: 23%;
  }
  .banner {
    text-align: center;
    width: 31%;
    font-weight: bold;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    font-size: $fontSizeBodyBase;
    .red {
      color: $g_red;
    }
    a {
      font-weight: normal;
      color: $g_black;
      font-size: $fontSizeBodySmall;
    }
  }
  .phone-callout {
    width: 23%;
    text-align: center;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    > div {
      width: 90%;
      padding: 0 5%;
      margin: 0 4%;
      border-left: solid 1px $g_gray4;
      border-right: solid 1px $g_gray4;
    }
    p {
      margin: 0 auto;
    }
    .phone {
      font-weight: bold;
      font-size: $fontSizeBodyBase;
    }
    .time {
      display: block;
      font-weight: lighter;
    }
  }
  .icons {
    width: 23%;
    @include display-flex;
    @include align-items(center);
    @include justify-content(flex-end);
    a {
      display: inline-block;
      @include circle(30px, $g_black);
      background-image: url('http://placehold.it/50x50');
      background-repeat: no-repeat;
      background-size: contain;
      // background-position: TODO make sprites
    }
  }
}

.header-nav {
  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include display-flex;
    @include justify-content(space-between);
    > li {
      // This extends the list-items to fill in their
      // respective space-between each other
      // semi-sucks because all list-items will become the
      // same size regardless of content =-/
      @include flex(1);
      text-align: center;
      > a {
        color: $g_gray1;
        font-family: $VerlagCond;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1em;
        position: relative;
      }
      // default-show shows this nav item dropdown always
      // unless another nav-item is hovered then it will be overlapped
      &.default-show a:after,
      &:hover:not(.no-menu) a:after {
        // css trianlge top layer
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $g_white;
        left: calc(50% - 10px);
        top: 100%;
        position: absolute;
        z-index: 7;
      }
      &.default-show a:before,
      &:hover:not(.no-menu) a:before {
        // css trianlge bottom layer
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 11px solid $g_gray4;
        left: calc(50% - 11px);
        top: 100%;
        position: absolute;
        z-index: 6;
      }
      &.default-show .header-dropdown,
      &:hover .header-dropdown {
        display: block;
      }
      // fix z-index for default-show on search dropdown
      // this way it wont always show it's arrow when hovering other
      // nav items
      &.default-show a:after {
        z-index: 4;
      }
      &.default-show a:before {
        z-index: 3;
      }
      &.default-show .header-dropdown {
        z-index: 2
      }
    }
  }
}


.header-dropdown {
  display: none;
  position: absolute;
  overflow: hidden;
  padding: 1em;
  border-top: 1px solid $g_gray4;
  width: 100%;
  left: 0;
  background: $g_gray5;
  z-index: 5;
  text-align: left;
  @include box-shadow(0px 10px 20px -10px rgba(179,179,179,1));
}

.nav-search-form {
  font-size: $fontSizeBodyHuge;
  button {
    font-size: $fontSizeBodyHuge;
    border: none;
    cursor: pointer;
    background: transparent;
    color: $g_gray2;
  }
  [type="search"] {
    font-size: $fontSizeBodyHuge;
    font-family: $Verlag;
    font-weight: normal;
    border: none;
    background: transparent;
    width: 90%;
  }
  input:focus,
  button:focus {
    outline: none;
  }
}

.header-sub-nav {
  @include display-flex;
  .lists {
    width: 67%;
    @include display-flex;
    @include flex-wrap(wrap);
    > div {
      margin: 0.5em 2em;
    }
    a {
      font-size: $fontSizeBodySmall;
      color: $g_black;
      text-decoration: none;
      margin-bottom: 0.5em;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .list-image {
    width: 33%;
  }
}
