// $header-breakpoint:

.header {
  background: $g_white;
  // spacing on bottom for search navitem shown as default
  margin-bottom: 82px;
}

.header-top {
  @include display-flex;
  padding: 1em 0;
  .logo {
    width: 20%;
  }
  .banner {
    text-align: center;
    width: 34%;
    font-weight: bold;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    font-size: $fontSizeBodyBase;
    .red {
      color: $g_red;
    }
    a {
      font-weight: normal;
      color: $g_black;
      font-size: $fontSizeBodySmall;
    }
  }
  .phone-callout {
    width: 23%;
    text-align: center;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    > div {
      width: 90%;
      padding: 0 5%;
      margin: 0 4%;
      border-left: solid 1px $g_gray4;
      border-right: solid 1px $g_gray4;
    }
    p {
      margin: 0 auto;
    }
    .phone {
      font-weight: bold;
      font-size: $fontSizeBodyBase;
    }
    .time {
      display: block;
      font-weight: lighter;
    }
  }
  .icons {
    width: 23%;
    @include display-flex;
    @include align-items(center);
    @include justify-content(flex-end);
    > div {
      margin: 0 7px;
      position: relative;
      &:hover ul {
        display: block;
      }
      > a {
        display: inline-block;
      }
    }
    ul {
      display: none;
      width: 200px;
      left: -86px;
      top: 130%;
      position: absolute;
      background: $g_white;
      z-index: 7;
      border: solid 1px $g_gray4;
      @include border-radius(4px);
    }
    .icon-dropdown .name,
    .icon-dropdown li a {
      display: block;
      padding: 0.75em 1em;
    }
    .icon-dropdown li {
      border-bottom: solid 1px $g_gray4;
      &:last-child {
        border-bottom: none;
      }
    }
    .icon-dropdown ul {
      &:after {
        display: block;
        content: '';
        @include triangle(20px, $g_white, up);
        left: calc(50% - 10px);
        bottom: 100%;
        z-index: 8;
        position: absolute;
      }
      &::before {
        display: block;
        content: '';
        @include triangle(22px, $g_gray4, up);
        left: calc(50% - 11px);
        bottom: 100%;
        position: absolute;
      }
    }
    .name {
      color: $g_gray2;
      text-align: center;
    }
  }
}

.header-nav {
  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include display-flex;
    @include justify-content(space-between);
    > li {
      // This extends the list-items to fill in their
      // respective space-between each other
      // semi-sucks because all list-items will become the
      // same size regardless of content =-/
      // @include flex(1);
      // text-align: center;
      > a {
        color: $g_gray1;
        font-family: $Knockout;
        letter-spacing: 2px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1em;
        position: relative;
      }
      // default-show shows this nav item dropdown always
      // unless another nav-item is hovered then it will be overlapped
      &.default-show a:after,
      &:hover:not(.no-menu) a:after {
        // css trianlge top layer
        display: block;
        content: '';
        @include triangle(20px, $g_white, down);
        left: calc(50% - 10px);
        top: 100%;
        position: absolute;
        z-index: 7;
      }
      &.default-show a:before,
      &:hover:not(.no-menu) a:before {
        // css trianlge bottom layer
        display: block;
        content: '';
        @include triangle(22px, $g_gray4, down);
        left: calc(50% - 11px);
        top: 100%;
        position: absolute;
        z-index: 6;
      }
      &.default-show .header-dropdown,
      &:hover .header-dropdown {
        display: block;
      }
      // fix z-index for default-show on search dropdown
      // this way it wont always show it's arrow when hovering other
      // nav items
      &.default-show a:after {
        z-index: 4;
      }
      &.default-show a:before {
        z-index: 3;
      }
      &.default-show .header-dropdown {
        z-index: 2
      }
    }
  }
}


.header-dropdown {
  display: none;
  position: absolute;
  overflow: hidden;
  padding: 1em;
  border-top: 1px solid $g_gray4;
  width: 100%;
  left: 0;
  background: $g_gray5;
  z-index: 5;
  text-align: left;
  @include box-shadow(0px 10px 20px -10px rgba(179,179,179,1));
}

.nav-search-form {
  font-size: $fontSizeBodyHuge;
  button {
    font-size: $fontSizeBodyHuge;
    border: none;
    cursor: pointer;
    background: transparent;
    color: $g_gray2;
  }
  [type="search"] {
    -webkit-appearance: none; // safari sucks
    font-size: $fontSizeBodyHuge;
    font-family: $Verlag;
    font-weight: normal;
    border: none;
    background: transparent;
    width: 90%;
  }
  input:focus,
  button:focus {
    outline: none;
  }
}

.header-sub-nav {
  @include display-flex;
  .lists {
    width: 67%;
    @include display-flex;
    @include flex-wrap(wrap);
    > div {
      margin: 0.5em 2em;
    }
    a {
      font-size: $fontSizeBodySmall;
      color: $g_black;
      text-decoration: none;
      margin-bottom: 0.5em;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .list-image {
    width: 33%;
  }
}
