.kickstarter {
  padding: 3em 0 2em;
  @include breakpoint($small) {
    padding: 4em 0;
  }
  a {
    position: relative;
    display: block;
    max-width: 80%;
    margin: auto;
    transition: all 0.5s;
  }
  .btn {
    margin: auto;
    display: block;
    position: relative;
    z-index: 3;
  }
  .arrow {
    position: absolute;
    top: 29%;
    left: 96%;
    z-index: 4;
    width: 15%;
  }
  a:hover .btn {
    border-color: $glowBlue;
    box-shadow: 0 0 43px $glowBlue;
  }
  .copy {
    color: $green;
    font-family: $FontRachel;
    text-align: right;
    position: absolute;
    font-size: 2.2em;
    top: -26px;
    right: 11%;
    margin: 0;
    z-index: 2;
  }
}
