.parallax-container {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

// parallax bg
.parallax-bg {
  min-height: 100vh;
  height: 100%;
  width: 200vw;
  left: -50vw;
  z-index: 1;
  display: table;
  background-image: url('images/starbackground.jpg');
  position: absolute;
}
