.social-callout {
  text-align: center;
  padding: 2.6em 0 1em;
  position: relative;
  @include breakpoint($small) {
    padding: 3em 0 1.5em;
  }
  .callout {
    display: inline-block;
    margin: auto;
  }
  .red {
    color: $red;
    font-family: $FontRachel;
    @include stroke(3, $white);
    font-size: 1.8em;
    @include breakpoint($small) {
      @include stroke(5, $white);
      font-size: 2.3em;
    }
    @include breakpoint($medium) {
      font-size: 3.3em;
    }
  }
  .green {
    color: $greenLight;
  }
  .note {
    margin-top: 0.5em;
    font-size: 1em;
    display: block;
    text-align: right;
    font-family: $FontConsole;
    @include breakpoint($small) {
      font-size: 1.2em;
    }
  }
  .green-arrow {
    position: absolute;
    left: 100%;
    top: 45%;
    height: 200px;
    display: none;
    @include breakpoint(1300px) {
      display: block;
    }
  }
}

.social-icons {
  display: flex;
  list-style-type: none;
  margin: 1em auto;
  padding: 0;
  justify-content: space-between;
  li {
    width: 15%;
  }
  a {
    display: block;
  }
  img {
    max-width: 95%;
    display: block;
    margin: auto;
  }
  a:hover img {
    opacity: 1;
    animation: flash 1.5s;
  }
}

// flashing animation for hover
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.social-progress {
  text-align: center;
  background: #171717;
  font-family: $FontConsole;
  border: solid 1px $green;
  position: relative;
  p {
    position: relative;
    z-index: 4;
    padding: 0 0.2em;
    color: #777777;
    margin: 0.5em auto;
    line-height: 1.2em;
  }
  .social-bar {
    z-index: 3;
    background-color: $green;
    opacity: 0.2;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
    animation: pulse 2s ease infinite alternate;
  }
  span {
    color: $green;
  }
  .done span {
    color: #71ff00;
  }
}

@keyframes pulse {
  0%, 100% {
    background-color: #2F312E;
  }
  50% {
    background-color: $green;
  }
}
