.unlock {
  text-align: center;
}

.unlocked {
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 1em;
  margin: 0.5em auto 1em;
  @include breakpoint($small) {
    font-size: 1.2em;
  }
  &.active {
    opacity: 1;
  }
}
.discount-code {
  font-weight: bold;
  color: $yellow;
  margin-left: 5px;
  letter-spacing: 3px;
}
