<div class="glass-bg">
  <h3 class="headline">Contact Us</h3>
  <p>
    Thank you very much for checking out new SpiritFlags, We are always open to partnership dieas so below is a list of our email contacts.
  </p>
  <p>
    For press please email <a href="mailto:contact@shirtwascash.com">contact@shirtwascash.com</a>
  </p>
  <p>
    For partnerships and licensing please email <a href="mailto:partnerships@shirtwascash.com">partnerships@shirtwascash.com</a>
  </p>
  <p>
    For general questions and comments please email <a href="mailto:anon@shirtwascash.com">anon@shirtwascash.com</a>
  </p>
</div>
