<div class="media glass-bg">
  <div class="image">
    <img src="https://placeholdit.imgix.net/~text?w=350&h=300" alt="" />
  </div>
  <div class="copy">
    <h3 class="headline alignCenter">SpiritFlags Description</h3>
    <p>
      Specifications:
    </p>
    <ul>
      <li>100% polyester spun fabric</li>
      <li>Sublimation and manufacturing in the USA</li>
      <li>General use: Outdoors, music, festivals, raves, sports stadiums, street wear</li>
    </ul>
    <p>
      Dimensions:
    </p>
    <ul>
      <li>Length</li>
      <li>Width</li>
      <li>Height</li>
      <li>Weight</li>
    </ul>
    <p>
      Features:
    </p>
    <ul>
      <li>Hoodie with tie strings</li>
      <li>Tassels with buttons for a hands free experience</li>
    </ul>
  </div>
</div>
