<div class="media glass-bg">
  <div class="copy">
    <h1 class="headline">Introducing SpiritFlags</h1>
    <p>
      The SpiritFlags do and are on another level compared to anything we've ever done before. I sourced every piece of fabric, which is unlike anything people have felt before and didn't exist a few years ago, and endlessly bought the cut back to the drawing board to enable you to wear it anyway you like. We have implemented our high standards of design and the limitless nature of sublimation printing to help create something that is special.
    </p>
    <p>
      I made SpiritFlags from scratch using my own imagination, hours of pattern making and stitching and design work. It entirely encompasses what our brand is about and I am beyond excited to start seeing people stand out at events or in daily life. Flags are a symbol of things people identify with which is why I chose to make it wearable. We can print of every inch in full vibrant colors. I feel this will resonate particularly well with the EDM crowd, music festivals, international sports arenas and will allow people to express their true authentic self.
    </p>
    <p>
      <a href="#">Click</a> to download our approved for use images for press releases and announcements.
    </p>
  </div>
  <div class="image">
    <img src="https://placeholdit.imgix.net/~text?w=350&h=300" alt="" />
  </div>
</div>
