<div class="glass-bg">
  <h3 class="headline alignCenter">Meet The Team</h3>
  <div class="people">
    <div>
      <img src="images/ardon.jpg" alt="ardon" />
      <p>
        Ardon Lukasiewicz, CEO
      </p>
    </div>
    <div>
      <img src="images/brian.jpg" alt="brian" />
      <p>
        Brian Arredondo, COO
      </p>
    </div>
    <div>
      <img src="images/naomi.jpg" alt="naomi" />
      <p>
        Naomi Curiel, Design Specialist
      </p>
    </div>
    <div>
      <img src="images/nicole.jpg" alt="nicole" />
      <p>
        Nicole West, Executive Coordinator
      </p>
    </div>
    <div>
      <img src="images/stephen.jpg" alt="stephen" />
      <p>
        Stephen Holloway, Shipping &amp; Logistics
      </p>
    </div>
  </div>
</div>
