<div class="glass-bg">
  <h3 class="headline alignCenter">Meet The Team</h3>
  <div class="people">
    <div>
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="name" />
      <p>
        Name
      </p>
    </div>
    <div>
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="name" />
      <p>
        Name
      </p>
    </div>
    <div>
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="name" />
      <p>
        Name
      </p>
    </div>
    <div>
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="name" />
      <p>
        Name
      </p>
    </div>
    <div>
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="name" />
      <p>
        Name
      </p>
    </div>
  </div>
</div>
