<div class="glass-bg">
  <h3 class="headline alignCenter">Approved Media Images</h3>
  <div class="media">
    <div class="image">
      <img src="images/factory.jpg" />
    </div>
    <div class="copy">
      <div class="half">
        <ul class="unstyled">
          <li>Founder - Ardon Lukas</li>
          <li>Founded: June 2014</li>
          <li>9.1 Million Page Views</li>
          <li>1.8 Million Unique Users</li>
          <li>50,000 unique users per month</li>
          <li>Five employees</li>
          <li>On track to do seven figures of sales in 2016</li>
        </ul>
      </div>
      <div class="half">
        <p>
          The following media items are approved for public use by the media:
        </p>
        <ul>
          <li><a href="BMX.zip">BMX</a></li>
          <li><a href="Flyboard.zip">Flyboard</a></li>
          <li><a href="Guitar.zip">Guitar</a></li>
          <li><a href="Manufacturing.zip">Manufacturing</a></li>
          <li><a href="SpiritFlagsGIFs.zip">Style Shots</a></li>
          <li><a href="Style.zip">SpiritFlag GIFs</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
