<div class="glass-bg">
  <h3 class="headline alignCenter">Approved Media Images</h3>
  <div class="media">
    <div class="image">
      <img src="images/factory.jpg" />
    </div>
    <div class="copy">
      <div class="half">
        <ul class="unstyled">
          <li>Founder - Ardon Lukas</li>
          <li>Founded: June 2014</li>
          <li>9.1 Million Page Views</li>
          <li>1.8 Million Unique Users</li>
          <li>50,000 unique users per month</li>
          <li>Five employees</li>
          <li>On track to do seven figures of sales in 2016</li>
        </ul>
      </div>
      <div class="half">
        <p>
          The following media items are approved for public use by the media:
        </p>
        <ul>
          <li><a href="https://cdn.shopify.com/s/files/1/0537/4221/files/BMX.zip?15385939220553103241">BMX</a></li>
          <li><a href="https://www.mediafire.com/?nt9uihj29t55wf5">Flyboard</a></li>
          <li><a href="https://cdn.shopify.com/s/files/1/0537/4221/files/Guitar.zip?1641779833491162925">Guitar</a></li>
          <li><a href="https://cdn.shopify.com/s/files/1/0537/4221/files/Manufacturing.zip?3224698998832708684">Manufacturing</a></li>
          <li><a href="https://www.mediafire.com/?a35pnkfc7ppmpv6">SpiritFlag GIFs</a></li>
          <li><a href="https://cdn.shopify.com/s/files/1/0537/4221/files/Style.zip?13377238107334583179">Style Shots</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
