<div class="glass-bg">
  <h3 class="headline alignCenter">Company Overview &amp; Media</h3>
  <div class="media">
    <div class="image">
      <img src="https://placeholdit.imgix.net/~text?w=350&h=300" alt="" />
    </div>
    <div class="copy">
      <div class="half">
        <ul class="unstyled">
          <li>Founder - Ardon Lukas</li>
          <li>Founded: June 2014</li>
          <li>9.1 Million Page Views</li>
          <li>1.8 Million Unique Users</li>
          <li>50,000 unique users per month</li>
          <li>Five employees</li>
          <li>On track to do seven figures of sales in 2016</li>
        </ul>
      </div>
      <div class="half">
        <p>
          Image Packs:
        </p>
        <ul>
          <li><a href="#">Image Pack #1</a></li>
          <li><a href="#">Image Pack #2</a></li>
          <li><a href="#">Image Pack #3</a></li>
        </ul>
        <p>
          Video Packs:
        </p>
        <ul>
          <li><a href="#">Video Pack #1</a></li>
          <li><a href="#">Video Pack #2</a></li>
          <li><a href="#">Video Pack #3</a></li>
        </ul>
        <p>
          Important URLs:
        </p>
        <ul>
          <li><a href="www.shirtwascash.com">Shirtwascash - www.shirtwascash.com</a></li>
          <li><a href="www.shirtwascash.com/spiritflags">SpiritFlags - www.shirtwascash.com/spiritflags</a></li>
          <li><a href="www.kickstarter.com/spiritflags">Kickstarter - www.kickstarter.com/spiritflags</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
