<div class="glass-bg">
  <h3 class="headline alignCenter">Approved Media Images</h3>
  <div class="media">
    <div class="image">
      <img src="images/factory.jpg" />
    </div>
    <div class="copy">
      <div class="half">
        <ul class="unstyled">
          <li>Founder - Ardon Lukas</li>
          <li>Founded: June 2014</li>
          <li>9.1 Million Page Views</li>
          <li>1.8 Million Unique Users</li>
          <li>50,000 unique users per month</li>
          <li>Five employees</li>
          <li>On track to do seven figures of sales in 2016</li>
        </ul>
      </div>
      <div class="half">
        <p>
          The following media items are approved for public use by the media:
        </p>
        <ul>
          <li><a target="_blank" href="http://www.mediafire.com/download/238d9d29w5a1108/BMX.zip">BMX</a></li>
          <li><a target="_blank" href="http://www.mediafire.com/download/nt9uihj29t55wf5/Flyboard.zip">Flyboard</a></li>
          <li><a target="_blank" href="http://www.mediafire.com/download/21eedmcye20xd1c/Guitar.zip">Guitar</a></li>
          <li><a target="_blank" href="http://www.mediafire.com/download/1myee43nqzex8u5/Manufacturing.zip">Manufacturing</a></li>
          <li><a target="_blank" href="http://www.mediafire.com/download/a35pnkfc7ppmpv6/SpiritFlagsGIFs.zip">SpiritFlag GIFs</a></li>
          <li><a target="_blank" href="http://www.mediafire.com/download/crrb8m1i93kxgxf/Style.zip">Style Shots</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
