<div class="media glass-bg">
  <div class="image">
    <img src="https://placeholdit.imgix.net/~text?w=350&h=300" alt="" />
  </div>
  <div class="copy">
    <h2 class="headline alignCenter">Our Story</h2>
    <p>
      Shirtwascash was started two years ago from a laptop in my bedroom. After several failed startups and a corporate job I disliked, I saw a post on the front page of reddit called "4chan designs some shirts". The response was incredible - the internet loved them since it was authentic to them, and I did too. I put together a survey to see which designs people wanted most, built an online ecommerce website, and generated $40,000 in sales during Shopify's 30-day trial period.
    </p>
    <p>
      After quitting my job and going all in the entrepreneur lifestyle, Shirtwascash expanded from just T-shirts to carring 11 different products including sweaters, hoodies, mous pads, girls clothing and our newest product SpiritFlags. The growth was enough that we moved out of my bedroom, into an office and expanded my team to five.
    </p>
    <p>
      Up until this point I was known to our fans and community as "Anon", short for anonymous. I stayed anonymous throughout this company because this isn't about it, it's about you and the memories that are created when you wear our clothing. My mission has always been encouraging and motivating people to be happier through expressing their authentic self, and Shirtwascash definitely fulfils that mission.
    </p>
  </div>
</div>
