<!DOCTYPE html>
<html>
  {{> 'head'}}
  <body>
    {{> 'parallax'}}
    <div class="container">
      {{> 'header'}}
    </div>
    {{> 'video'}}
    <div class="container">
      {{> 'social'}}
      {{!> 'unlock'}}
      {{> 'kickstarter'}}
    </div>
    <script type="text/javascript" src="script.min.js"></script>
  </body>
</html>
