<!DOCTYPE html>
<html>
  {{> 'head'}}
  <body>
    <div class="container">
      {{> 'video'}}
      {{> 'social'}}
      {{> 'unlock'}}
      {{> 'kickstarter'}}
    </div>
    <script type="text/javascript" src="script.min.js"></script>
  </body>
</html>
