<!DOCTYPE html>
<html>
  {{> 'head'}}
  <body>
    {{> 'parallax'}}
    <div class="container">
      {{> 'press/story'}}
      {{> 'press/introducing'}}
      {{> 'press/description'}}
      {{> 'press/designs'}}
      {{> 'press/overview'}}
      {{> 'press/meet'}}
      {{> 'press/contact'}}
    </div>
    <script type="text/javascript" src="script.min.js"></script>
  </body>
</html>
