<header class="header">
  <div class="refresh-container">
    <div class="header-top">
      <div class="logo">
        <img src="http://placehold.it/150x80" />
      </div>
      <div class="banner">
        <p>Free shipping any 2* Items or $50+</p>
      </div>
      <div class="phone">
        <p>
          1.888.676.2660
        </p>
        <p class="time">
          6AM - 8PM PST
        </p>
      </div>
      <div class="icons">
        <a href="/account" title="Account"></a>
        <a href="/account/favorites" title="Favorites"></a>
        <a href="/cart" title="Shopping Bag"></a>
      </div>
    </div>
  </div>
</header>
