<div class="header-callout">
  <div class="quote">
    <h3>
      Join our mission to promote fun and endearing confidence through sharing your authentic self.
    </h3>
    <img class="cat" src="images/cat.png" alt="inspirational kitty" />
  </div>
</div>
