<header class="header">
  <div class="refresh-container">
    <div class="header-top">
      <div class="logo">
        <!-- TODO fit in component  -->
        {{> 'logo'}}
      </div>
      <div class="banner">
        <p><span class="red">Free shipping</span> any 2* Items or $50+! <a href="/c/shipping-and-returns?pf_rd_r=21EEDDED05EC4035A8A9&pf_rd_p=6edcebb8-da91-4724-b32d-08f64592465b">See Details</a></p>
      </div>
      <div class="phone-callout">
        <div>
          <p  class="phone">
            1.888.676.2660
          </p>
          <p class="time">
            6AM - 8PM PST
          </p>
        </div>
      </div>
      <div class="icons">
        <div class="icon-dropdown">
          <a href="/account" title="Account" class="icon-account"></a>
          <ul>
            <li class="name">Hello TestName</li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div>
          <a href="/customer-service-center" class="icon-help" title="Help"></a>
        </div>
        <div>
          <a href="/account/favorites" class="icon-heart" title="Favorites"></a>
        </div>
        <div>
          <a href="/cart" title="Shopping Bag" class="icon-bag"></a>
        </div>
      </div>
    </div>
    <nav class="header-nav">
      <ul>
        <li class="default-show">
          <a href="#">Search</a>
          <div class="header-dropdown">
            <div class="refresh-container">
              <form action="/search" method="get" class="nav-search-form">
                <fieldset>
                  <button type="submit" tabindex="2">
                    <i class="fa fa-search"></i>
                  </button>
                  <input type="hidden" name="department">
                  <input id="globalSearchField" type="search" tabindex="1" name="term" class="entire-search" placeholder="Search 6pm.com" autocomplete="off">
                </fieldset>
              </form>
            </div>
          </div>
        </li>
        <li>
          <a href="/shoes">Shoes</a>
          <div class="header-dropdown">
            <div class="refresh-container">
              <div class="header-sub-nav">
                <div class="lists">
                  <div>
                    <h5>
                      <a href="/womens-shoes~1gp?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Women's</a>
                    </h5>
                    <ul>
                      <li><a href="/womens-heels~Nm?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Heels</a></li>
                      <li><a href="/womens-sandals~yD?s=goliveRecentSalesStyle/desc/">Sandals</a></li>
                      <li><a href="/womens-flats~px?s=goliveRecentSalesStyle/desc/">Flats</a></li>
                      <li><a href="/womens-sneakers-athletic-shoes~kL?s=goliveRecentSalesStyle/desc/">Sneakers &amp; Athletic</a></li>
                      <li><a href="/women-clogs-mules~7">Clogs &amp; Mules</a></li>
                      <li><a href="/womens-boots~GD?s=goliveRecentSalesStyle/desc/">Boots</a></li>
                      <li><a href="/womens-shoes~1gp?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="/mens-shoes~nF?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Men's</a>
                    </h5>
                    <ul>
                      <li><a href="/mens-sneakers-athletic-shoes~hJ?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Sneaker &amp; Athletic</a></li>
                      <li><a href="/mens-oxfords-shoes~4C?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Oxfords</a></li>
                      <li><a href="/mens-loafers~50?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Loafers</a></li>
                      <li><a href="/mens-boat-shoes~1G?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Boat Shoes</a></li>
                      <li><a href="/mens-sandals~4t?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Sandals</a></li>
                      <li><a href="/mens-boots~7Z?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Boots</a></li>
                      <li><a href="/mens-shoes~nF?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="/girls-shoes~7?s=goliveRecentSalesStyle/desc/">Girl's Shoes</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="/boys-shoes~6?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Boy's Shoes</a>
                    </h5>
                  </div>
                </div>
                <div class="list-image">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=317%C3%97235&w=317&h=235"/>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/clothing">Clothing</a>
          <div class="header-dropdown">
            <div class="refresh-container">
              <div class="header-sub-nav">
                <div class="lists">
                  <div>
                    <h5>
                      <a href="/womens-clothing~4?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Women's</a>
                    </h5>
                    <ul>
                      <li><a href="/womens-clothing~4?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Dresses</a></li>
                      <li><a href="/women-shirts-tops/CKvXARDL1wHAAQHiAgMBGAI.zso?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/ ">Shirts &amp; Tops</a></li>
                      <li><a href="/women-jeans~d?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Jeans</a></li>
                      <li><a href="/women-swimwear/CKvXARDR1wHAAQHiAgMBGAI.zso?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">Swimwear</a></li>
                      <li><a href="/women-shorts~6">Shorts</a></li>
                      <li><a href="/womens-clothing~4?s=isNew/desc/goLiveDate/desc/recentSalesStyle/desc/">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Men's</a>
                    </h5>
                    <ul>
                      <li><a href="#">Shorts</a></li>
                      <li><a href="#">Shirts &amp; Tops</a></li>
                      <li><a href="#">Jeans</a></li>
                      <li><a href="#">Swimwear</a></li>
                      <li><a href="#">Pants</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Junior's</a>
                    </h5>
                    <ul>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Girl's</a>
                    </h5>
                    <ul>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Boy's</a>
                    </h5>
                    <ul>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                </div>
                <div class="list-image">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=317%C3%97235&w=317&h=235"/>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/bags">Bags</a>
          <div class="header-dropdown">
            <div class="refresh-container">
              <div class="header-sub-nav">
                <div class="lists">
                  <div>
                    <h5>
                      <a href="#">All Bags</a>
                    </h5>
                    <ul>
                      <li><a href="#">Handbags</a></li>
                      <li><a href="#">Backpacks</a></li>
                      <li><a href="#">Wallets &amp; Accessories</a></li>
                      <li><a href="#">Luggage</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Top Styles</a>
                    </h5>
                    <ul>
                      <li><a href="#">Cross Body</a></li>
                      <li><a href="#">Totes</a></li>
                      <li><a href="#">Shoulder Bags</a></li>
                      <li><a href="#">Satchels</a></li>
                      <li><a href="#">Clutches</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Top Brands</a>
                    </h5>
                    <ul>
                      <li><a href="#">COACH</a></li>
                      <li><a href="#">Tommy Hilfiger</a></li>
                      <li><a href="#">Valentino by Mario Valentino</a></li>
                      <li><a href="#">Calvin Klein</a></li>
                      <li><a href="#">Ivan Trump</a></li>
                    </ul>
                  </div>
                </div>
                <div class="list-image">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=317%C3%97235&w=317&h=235"/>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/accessories">Accessories</a>
          <div class="header-dropdown">
            <div class="refresh-container">
              <div class="header-sub-nav">
                <div class="lists">
                  <div>
                    <h5>
                      <a href="#">All Accessories</a>
                    </h5>
                    <ul>
                      <li><a href="#">Sunglasses</a></li>
                      <li><a href="#">Hats</a></li>
                      <li><a href="#">Watches</a></li>
                      <li><a href="#">Jewerly</a></li>
                      <li><a href="#">Belts</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Sunglass Style</a>
                    </h5>
                    <ul>
                      <li><a href="#">Aviators</a></li>
                      <li><a href="#">Oval</a></li>
                      <li><a href="#">Rectangular</a></li>
                      <li><a href="#">Cat Eye</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Top Brands</a>
                    </h5>
                    <ul>
                      <li><a href="#">Oakley</a></li>
                      <li><a href="#">Spy</a></li>
                      <li><a href="#">Under Armour</a></li>
                      <li><a href="#">Guess</a></li>
                      <li><a href="#">Columbia</a></li>
                    </ul>
                  </div>
                </div>
                <div class="list-image">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=317%C3%97235&w=317&h=235"/>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/womens">Women</a>
          <div class="header-dropdown">
            <div class="refresh-container">
              <div class="header-sub-nav">
                <div class="lists">
                  <div>
                    <h5>
                      <a href="#">Shoes</a>
                    </h5>
                    <ul>
                      <li><a href="#">Heels</a></li>
                      <li><a href="#">Sandals</a></li>
                      <li><a href="#">Flats</a></li>
                      <li><a href="#">Sneakers &amp; Athletic</a></li>
                      <li><a href="#">Clogs &amp; Mules</a></li>
                      <li><a href="#">Boots</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Clothing</a>
                    </h5>
                    <ul>
                      <li><a href="#">Dresses</a></li>
                      <li><a href="#">Shirts &amp; Tops</a></li>
                      <li><a href="#">Jeans</a></li>
                      <li><a href="#">Pants</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Swimwear</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Juniors</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Plus Size</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Petite</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Handbags</a>
                    </h5>
                    <ul>
                      <li><a href="#">Crossbody</a></li>
                      <li><a href="#">Totes</a></li>
                      <li><a href="#">Shoulder Bags</a></li>
                      <li><a href="#">Backpacks</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Accessories</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Eyewear</a>
                    </h5>
                  </div>
                </div>
                <div class="list-image">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=317%C3%97235&w=317&h=235"/>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/mens">Men</a>
          <div class="header-dropdown">
            <div class="refresh-container">
              <div class="header-sub-nav">
                <div class="lists">
                  <div>
                    <h5>
                      <a href="#">Shoes</a>
                    </h5>
                    <ul>
                      <li><a href="#">Sneakers &amp; Athletic</a></li>
                      <li><a href="#">Boots</a></li>
                      <li><a href="#">Oxfords</a></li>
                      <li><a href="#">Sandals</a></li>
                      <li><a href="#">Loafers</a></li>
                      <li><a href="#">Boat Shoes</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Clothing</a>
                    </h5>
                    <ul>
                      <li><a href="#">Shirts &amp; Tops</a></li>
                      <li><a href="#">Coats &amp; Outerwear</a></li>
                      <li><a href="#">Shorts</a></li>
                      <li><a href="#">Jeans</a></li>
                      <li><a href="#">Pants</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Swimwear</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Big and Tall</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Bags</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Accessories</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Eyewear</a>
                    </h5>
                  </div>
                </div>
                <div class="list-image">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=317%C3%97235&w=317&h=235"/>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/kids">Kids</a>
          <div class="header-dropdown">
            <div class="refresh-container">
              <div class="header-sub-nav">
                <div class="lists">
                  <div>
                    <h5>
                      <a href="#">Boy's Shoes</a>
                    </h5>
                    <ul>
                      <li><a href="#">Sneakers &amp; Athletic</a></li>
                      <li><a href="#">Boots</a></li>
                      <li><a href="#">Sandals</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Boy's Clothing</a>
                    </h5>
                    <ul>
                      <li><a href="#">Shirts &amp; Tops</a></li>
                      <li><a href="#">Pants</a></li>
                      <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                      <li><a href="#">Shorts</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Boy's Swimwear</a>
                    </h5>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Girl's Shoes</a>
                    </h5>
                    <ul>
                      <li><a href="#">Sneakers &amp; Athletic</a></li>
                      <li><a href="#">Boots</a></li>
                      <li><a href="#">Sandals</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Girl's Clothing</a>
                    </h5>
                    <ul>
                      <li><a href="#">Coats &amp; Outerwear</a></li>
                      <li><a href="#">Dresses</a></li>
                      <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                      <li><a href="#">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h5>
                      <a href="#">Girl's Swimwear</a>
                    </h5>
                  </div>
                </div>
                <div class="list-image">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=317%C3%97235&w=317&h=235"/>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="no-menu">
          <a href="/clearance">Clearance</a>
        </li>
        <li class="no-menu">
          <a href="#">Hot &amp; Now</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
