<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="keywords" content="spirit,flags,kickstarter,shirtwascash,shirts,capes,edm,music"/>
  <meta name="description" content="Join our mission to promote fun and endearing confidence through sharing your authentic self"/>
  <link rel="shortcut icon" href="images/favicon.png"/>
  <link rel="image_src" type="image/jpeg" href="https://cdn.shopify.com/s/files/1/0537/4221/t/7/assets/spiritflagscover.jpg"/>
  <title>Spirit Flags</title>
  <link rel="stylesheet" href="site.min.css"/>
</head>
