<div class="kickstarter">
  <a href="http://kck.st/1TKlFWa" data-ga="kickstartbottom" data-ga-category="kickstater">
    <p class="copy">
      Click here to visit
    </p>
    <img class="btn" src="images/botbutton.jpg" alt="Spirit Flag Kickstarter page" />
    <img class="arrow" src="images/arrow.png" alt="arrow icon" />
  </a>
</div>
