<div class="kickstarter">
  <a href="#" data-ga="kickstartbottom" data-ga-category="kickstater">
    <p class="copy">
      Click here to visit
    </p>
    <img src="images/botbutton.png" alt="Spirit Flag Kickstarter page" />
  </a>
</div>
