<div class="social-callout">
  <p class="callout">
    <span class="red">The <strong>Biggest</strong> way you can help is to share!</span>
    <span class="note">
      (use four share buttons for a <span class="green">surprise gift</span>)
    </span>
  </p>
  <img class="green-arrow" src="images/greenarrow.png" alt="green arrow" />
</div>

<ul class="social-icons">
  <li>
    <a href="//twitter.com/intent/tweet?text=Check out Spirit Flags&url=http://thatshirtwascash.com/pages/spiritflags" target="_blank" alt="share on twitter" data-ga="twitter" data-ga-category="social" data-social="twitter">
      <img src="images/social/twitter.png" alt="twitter" />
    </a>
  </li>
  <li>
    <a href="//www.facebook.com/sharer/sharer.php?u=http://thatshirtwascash.com/pages/spiritflags" target="_blank" alt="share on facebook" data-ga="facebook" data-ga-category="social" data-social="facebook">
      <img src="images/social/facebook.png" alt="facebook" />
    </a>
  </li>
  <li>
    <a href="http://pinterest.com/pin/create/button/?url=http://thatshirtwascash.com/pages/spiritflags&media=https://cdn.shopify.com/s/files/1/0537/4221/t/7/assets/spiritflagscover.jpg&description=Spirit&description=Spirit+Flags" target="_blank" alt="share on pinterest" data-ga="pinterest" data-ga-category="social" data-social="pinterest">
      <img src="images/social/pinterest.png" alt="pinterest" />
    </a>
  </li>
  <li>
    <a href="//www.instagram.com/shirtwascash/" target="_blank" alt="share on instagram" data-ga="instagram" data-ga-category="social" data-social="instagram">
      <img src="images/social/instagram.png" alt="instagram" />
    </a>
  </li>
  <li>
    <a href="//www.reddit.com/submit?url=http://thatshirtwascash.com/pages/spiritflags&title=Spirit%20Flags" target="_blank" alt="share on reddit" data-ga="reddit" data-ga-category="social" data-social="reddit">
      <img src="images/social/reddit.png" alt="reddit" />
    </a>
  </li>
  <li>
    <a href="mailto:?subject=Spirit Flags&body=Check out the Spirit Flags kickstarter - http://thatshirtwascash.com/pages/spiritflags" target="_blank" alt="share via email" data-ga="email" data-ga-category="social" data-social="email">
      <img src="images/social/email.png" alt="email" />
    </a>
  </li>
</ul>

<div class="social-progress">
  <p id="social-status">
    <span>
      progress (0/4)...
    </span>
    four more shares until we're best friends
  </p>
  <div class="social-bar" id="social-bar"></div>
</div>
