<ul class="social">
  <li>
    <a href="//twitter.com/intent/tweet?text=Check out Spirit Flags&url=http://thatshirtwascash.com/" target="_blank" alt="share on twitter" data-ga="twitter" data-ga-category="social" data-social="twitter">
      <img src="images/social/twitter.png" alt="twitter" />
    </a>
  </li>
  <li>
    <a href="//www.facebook.com/sharer/sharer.php?u=http://thatshirtwascash.com/" target="_blank" alt="share on facebook" data-ga="facebook" data-ga-category="social" data-social="facebook">
      <img src="images/social/fb.png" alt="facebook" />
    </a>
  </li>
  <li>
    <a href="//pinterest.com/pin/create/button/?url=http://thatshirtwascash.com/={{!TODO ABS IMAGE URL}}&description=Spirit Flags" target="_blank" alt="share on pinterest" data-ga="pinterest" data-ga-category="social" data-social="pinterest">
      <img src="images/social/pinterest.png" alt="pinterest" />
    </a>
  </li>
  <li>
    <a href="//www.instagram.com/shirtwascash/" target="_blank" alt="share on instagram" data-ga="instagram" data-ga-category="social" data-social="instagram">
      <img src="images/social/instagram.png" alt="instagram" />
    </a>
  </li>
  <li>
    <a href="mailto:?subject=Spirit Flags&body=Check out the Spirit Flags kickstarter - http://thatshirtwascash.com/" target="_blank" alt="share via email" data-ga="email" data-ga-category="social" data-social="email">
      <img src="images/social/email.png" alt="email" />
    </a>
  </li>
</ul>
