<div class="unlock">
  <div class="locked">
    <img src="images/unlock.png" alt="Unlock discount code by clicking all of the share buttons" />
  </div>
  <p class="unlocked">
    Thank you for your support. Your discount code is: <span data-discount-code class="discount-code"></span>
  </p>
</div>
