<div class="video">
  <img src="images/people.png" alt="fancy people" />
  <iframe data-ga="videoclick" data-ga-category="video" src="https://www.youtube.com/embed/s5A5Mb__fiA" frameborder="0" allowfullscreen></iframe>
</div>
