<div class="video">
  <div class="video-container">
    <p class="headline">
      See our story
    </p>
    <iframe data-ga="videoclick" data-ga-category="video" src="https://www.youtube.com/embed/s5A5Mb__fiA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
