<div class="video">
  <div class="video-container">
    <p class="headline">
      See our story
    </p>
    <iframe src="https://www.kickstarter.com/projects/868476834/spiritflags-take-flight-in-the-all-over-print-wear/widget/video.html" frameborder="0" scrolling="no"> </iframe>
  </div>
</div>
