<div class="video">
  <div class="video-container">
    <p class="headline">
      See our story
    </p>
    <img class="youtube-play-btn" src="images/greenplaybtn.png" alt="play youtube video" id="play-youtube" />
    {{!NEEDS ?enablejsapi=1&html5=1 in QS}}
    <iframe id="yt-video" data-ga="videoclick" data-ga-category="video" src="https://www.youtube.com/embed/s5A5Mb__fiA?enablejsapi=1&html5=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
