$g_red: #AE4343;
$g_black: #000;
$g_gray1: #444444;
$g_gray2: #737373;
$g_gray3: #A5A5A5;
$g_gray4: #D8D8D8;
$g_gray5: #F1F1F1;
$g_white: #FFF;

////////////////////////////////
// Below are old color variables
////////////////////////////////

// Colors
// $g_white: #FFF;
// $g_black: #000;
// $g_maroon: #98002E;
// $g_maroon2: #B50938;
// $g_orange: #E36F10;
// $g_light_orange: #ed9328;
// $g_dark_orange: #ee5502;
// $g_darker_orange: #cf4b02;
// $g_lightest_grey: #F0F0F0;
// $g_light_grey: #CDCDCD;
// $g_grey: #808080;
// $g_dark_grey: #5C5C5C;
// $g_darkest_grey: #454545;

// Semantic Colors
// $g_action_color: $g_orange;
// $g_new_action_color: $g_light_orange;
// $g_action_color_hover: $g_dark_orange;
// $g_price_color: $g_maroon;
// $g_sale_color: $g_black;

// Color Usage
// $g_color_body_background: $g_white;
// $g_primary_link: $g_maroon;
// $g_primary_button: $g_maroon;
// $g_primary_button_border: #cb7d95;
// $g_link_note: $g_grey;
// $g_link_note_border: #808080;
// $g_cta_link: $g_action_color;
// $g_action_button: $g_action_color;
// $g_secondary_button: #F2F2F2;
// $g_action_button_border: $g_orange;
// $g_action_button_shadow: $g_darker_orange;
// $g_content_copy_color: #505050;
// $g_border_color: $g_light_grey;
