// Box-sizing
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a:focus {
  outline: none;
}

body {
  background: $black;
  color: $white;
  // overflow-x: hidden;
  position: relative;
  // float: left;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: auto;
  max-width: $containerWidth;
  padding: 0.5em;
  position: relative;
  z-index: 3;
}
