// Box-sizing
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: $Verlag;
}

// Remove weird scroller
::-webkit-scrollbar {
    display: none;
}

// Responsive image sizing
img {
  max-width: 100%;
}

// Global container class
.refresh-container {
  max-width: $container;
  margin: auto;
}

// global body bg color
body {
  background: $g_gray5;
}
