@font-face {
    font-family: ColorsOfAutumn;
    src: url('fonts/ColorsOfAutumn.ttf');
}

@font-face {
    font-family: Rachelhand;
    src: url('fonts/Rachelhand.ttf');
}

$FontConsole: "Lucida Console", Monaco, monospace;
$FontAutumn: 'ColorsOfAutumn';
$FontRachel: 'Rachelhand';
