@font-face {
  font-family: 'Knockout';
  src: url('fonts/Knockout-30.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verlag';
  src: url('fonts/Verlag-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verlag';
  src: url('fonts/Verlag-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'VerlagCond';
  src: url('fonts/VerlagCond-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VerlagCond';
  src: url('fonts/VerlagCond-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

// Font families with fallbacks
$Knockout: Knockout, Helvetica, Arial, sans-serif;
$Verlag: Verlag, Helvetica, Arial, sans-serif;
$VerlagCond: VerlagCond, Helvetica, Arial, sans-serif;

// Sizing titles/headline based on style guide
$fontSizeHeadlineHuge: 48px;
$fontSizeHeadlineLarge: 42px;
$fontSizeHeadlineBase: 36px;
$fontSizeHeadlineSmall: 30px;
$fontSizeHeadlineMini: 24px;

// Sizing body-text/subheads based on style guide
$fontSizeBodyHuge: 24px;
$fontSizeBodyLarge: 21px;
$fontSizeBodyBase: 18px;
$fontSizeBodySmall: 16px;
$fontSizeBodyMini: 12px;

// Sizing discounts/pricing
$fontSizeDiscount: 22px;
$fontSizePrice: 16px;
