// Color vars
$black: #000;
$white: #fff;
$yellow: #fffd00;
$green: #81DA3A;
$greenLight: #8cbb67;
$KSgreen: #2BDE73;
$KSblack: #0F2105;
$glowBlue: #9ecaed;
$red: #c92323;

// Container maxwidth
$containerWidth: 1200px;

// Breakpoints
$small: 640px;
$medium: 900px;
$large: 1200px;
